<div class="col-lg-12">
    <div class="form-group tg-formgroup">
        <span class="tg-select">
            <select id="comboSpecialitie" name="">
                <option>{{ 'Selectionner'|trans }}</option>
                {% for specialitie in specialities %}
                    <option value="{{ specialitie.id }}">{{ specialitie.libelle }}</option>
                {% endfor %}

            </select>
        </span>
    </div>
</div>

