<div id="map" style="height:500px;width:100%;">

</div>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAcgnHwvZsCydPTdHNn_mCaG8eCcPllzD4&callback=initMap"></script>
<script>
    function initMap() {
        var uluru = {lat: {{ location.latitude }}, lng: {{ location.langitude}}};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
