{% extends "::admin.html.twig" %}

{% block title %}Admin: Weekends{% endblock %}

{% block body %}

    <section class="content-header">
        <h1>
            Ajouter un jour de week-end
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li><a href="#"><i class="fa fa-dashboard"></i> Weekends</a></li>
            <li class="active">Nouveau</li>
        </ol>
    </section>

    <section class="content">


        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <label class="label label-info">Note : Ce jour sera bloqué pour toute l'année.</label>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            {#<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>#}
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-sm-offset-4 col-sm-4">
                            <form id="dayform" action="" method="post">
                                <div class="form-group">
                                    <label>Sélectionner le jour</label>
                                    <select class="form-control select2" id="day" name="day" style="width: 100%;">
                                        <option value="">Sélectionner un jour</option>
                                        <option value="Monday">Lundi</option>
                                        <option value="Tuesday">Mardi</option>
                                        <option value="Wednesday">Mercredi</option>
                                        <option value="Thursday">Jeudi</option>
                                        <option value="Friday">Vendredi</option>
                                        <option value="Saturday">Samedi</option>
                                        <option value="Sunday">Dimanche</option>
                                    </select>
                                </div>
                                <input style="margin-top: 20px" type="submit" class="btn btn-info btn-block">
                            </form>
                            <script>
                                $('#dayform').submit(function(e){
                                   if($('#day').val() == ""){
                                       e.preventDefault();
                                   }
                                });
                            </script>

                        </div>


                    </div>
                    <!-- /.box-body -->

                    <!-- /.box-footer -->
                </div>
            </div>

        </div>
    </section>



{% endblock %}
