<div class="tg-dashboardboxtitle">
    <h2>{{ 'Uploaded Photos'|trans }}</h2>
</div>
<div class="tg-box tg-uploadedphotos">
    <ul class="tg-uploadedimggallery">
        <li>
            <div class="tg-galleryimg">
                <figure> <img src="images/thumbnails/img-01.jpg" alt="image description">
                    <figcaption><i class="fa fa-close"></i></figcaption>
                </figure>
                <span class="tg-filename">img-01.jpg</span> </div>
        </li>
        <li>
            <div class="tg-galleryimg tg-uploading">
                <figure> <img src="images/thumbnails/img-15.jpg" alt="image description"> <span class="tg-loader"><i class="fa fa-spinner"></i></span> <span class="tg-uploadingbar"></span> </figure>
                <span class="tg-filename">file name</span> </div>
        </li>
    </ul>
</div>